.container {
	width: 190px;
	background-color: red;
  text-align: center;
	img {
		width: 60px;
	}
}
.containerr {
	width: 420px;
	background-color: red;
  display: flex;
  gap: 30px;
  margin-top: 10px;
}
